@font-face {
    font-family: BTT;
    src: url('/font/BTTTRIAL.otf');
}

body {
    font-family: BTT;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    text-align: center;
}
h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #dc3545; /* Rouge */
}
p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
a {
    color: #007bff; /* Bleu */
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}